body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    margin: 30px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  background-image: url("https://i.imgur.com/n3k4u8p.png");

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;

}



main { 
  align-items: center;
  justify-content: space-between;
  text-align: center;
  display: flex;
  color: #775253;
  margin: 10px;
  background-color: rgb(57,92,107, .5);

}

.center { 
  text-align: center;
  align-items: center;
}

h1{ 
  color: #32292F;
  align-items: center;
  margin: 30px;
  padding: 10px;
  text-align: center;
  font-family: 'tommy font';
  font-size: 100px;
}

h2{ 
  color:#775253;
  align-items: center;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 0px;
  margin-top: 25px;
  padding: 5px;
  text-align: center;
  font-family: 'LEMONMILK-Light';
  font-weight: 550;
  font-size: 30px;
}

h3{ 
  color:#775253;
  font-size: 16px;
  justify-content: space-between;
}

.difficulty {
  color:#775253;
  font-size: 16px;
  justify-content: flex-start;
  align-items: center;
  margin: 20px;
  text-align: center;
  display: flex;
}

.time {
  color:#775253;
  font-size: 16px;
  justify-content: flex-start;
  align-items: center;
  margin: 20px;
  display: flex;
}

.meal {
  color:#775253;
  font-size: 16px;
  justify-content: flex-start;
  align-items: center;
  margin: 20px;
  display: flex;
}

.subtitle { 
  align-items: center;
  justify-content: center;
  display: flex;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 0px;
  margin-bottom: 5px;
  padding: 5px;
  border-style: solid;
  border-color: #ffffff;
  text-align: center;
  font-weight: 500;
  font-size: 28px;
}

.timedifficulty { 
  align-items: center;
  justify-content: center;
  display: flex;
  margin-top: 0px;
}

.meal { 
  align-items: center;
  justify-content: center;
  display: flex;
  margin-top: 0px;
  margin-bottom: 10px;
}

.recipe { 
  flex-wrap: wrap;
  display: flex;
  margin-top: 0px;
  margin-bottom: 10px;
  justify-content: flex-start;
  line-height: 1.5;
  font-size: 14px;
}



h4{ 
  color: #775253;
  align-items: center;
  margin: 10px;
  text-align: center;
  font-size: 25px;


}

h5{ 
  color: #775253;
  align-items: center;
  margin: 10px;
  padding: 10px;
  text-align: center;

}

p{ 
  color: #775253;
  text-align: left;

}

.page{ 
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 10px;
  padding: 10px;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(217, 215, 221, .5);
}

.recipecard { 
  width: 550px;
  display: flex;
  background-color:  #fffbfc;
  padding: 5px;
  margin: 20px;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  height: 70vh;
  border-style: solid;
  border-color: #D9D7DD;
  border-width: 3px;
  text-align: center;
}



.ingredient { 
  color: #775253;
  font-size: 14px;
}

.step { 
  color: #775253;
  size: 12px;
}

img { 
  width: 300px;
  height: 300px;
  margin: 20px;
  
}


.recipescroll { 
  height: 120px; 
  overflow-y: auto;
  line-height: auto;
  align-items: left;
  font-size: 12px;
  text-align: left;
  padding: 20px;
  margin-left: 10px;
  margin-top: 0px;
  margin-right: 10px;
  margin-bottom: 10px;
  border-style: solid; 
  border-color: #775253;
  border-width: 1px;
  width: 490px;

}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;

}
::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: rgba(0, 0, 0, .25);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
  margin: 2px;
  padding: 5px;
}

.components { 
    text-align: center;
    justify-content: center;
    display: flex;
    font-size: 14px;
    align-items: center;
    margin-left: 0px;
  } 


.flavorimage { 
  width: 30px;
  height: 30px;
  display: flex;
}



/* .types { 
  text-align: center;
  display: flex;
  margin: 5px;
  padding: 5px;
  justify-content: space-between;
  border-style: solid;
  border-color: #ffffff;
  color: #ffffff;
}

.nutrition { 
  text-align: center;
  display: flex;
  margin: 5px;
  padding: 5px;
  justify-content: space-between;
} */
